{% extends "base.html" %}

{% block title %}
Check list
{% endblock %}

{% block content %}
<div x-data="getTasks()" style="background-color: #fbe1ff; color: #b238be">
    <h3 class="text-center mt-5">User's Tasks</h3>
    <form id = "task-form">
        {% csrf_token %}
    </form>
    <div class="container pt-5">
        <div class="input-group px-1">
            <input x-model="newTask" class="form-control" placeholder="Task's name">
            <input x-model="newDescription" class="form-control" placeholder="Task's description">
            <input x-model="newUrgency" class="form-control" placeholder="Task's urgency">
            <button @click="addTask(newTask, newDescription, newUrgency)" type="button" class="btn btn-primary">Add task<i class="uil uil-tasks"></i></button>
        </div>
        <div class="card-group p-5" style="display: grid">
            <div class="row row-cols-1 row-cols-md-3">
                <template x-for="task in tasks">
                    <div class="col">
                        <div class="card h-100 bg-light">
                            <div class="card-header">
                                <h4 class = "card-title text-center my-2"><a x-text="task.title" x-bind:href="'/api/task/'+task.id" style="color: #b238be"></a></h4>
                            </div>
                            <div class="card-body" x-data="{ falseText: 'False', trueText: 'True' }">
                                <p x-text = "task.description" class="card-text pt-3"></p>
                                <p x-show = "task.urgency === trueText" class="card-text pt-3">Urgency: &#128276;</p>
                                <p x-show = "task.urgency === falseText" class="card-text pt-3">Urgency: &#128277;</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a x-bind:href="'/api/task/'+task.id" style="color: white">Open task</a>
                                </button>
                                <button @click="removeTask(task.id)" class="btn btn-danger btn-sm float-end"><i class="uil uil-trash">Delete</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
<script>
    const getTasks = () => {
    return{
        newTask: '',
        newDescription: '',
        newUrgency: '',
        tasks: [
            {% for task in tasks %}
            {'title': '{{ task.title }}', 'id': '{{ task.id }}', 'description': '{{ task.description }}', 'urgency': '{{ task.urgency }}'},
            {% endfor %}
        ]
    }
    };

    const csrfToken = document.querySelector('#task-form > input').value;
    const addTask = async (title, description, urgency) => {
        try{
            const result = await axios.post('/api/task', {title, description, urgency}, {headers: {"X-CSRFToken": csrfToken}});
            location.reload();
        }
        catch (e) {console.error(e);}
    };


    const removeTask = async taskId => {
        try{
            const result = await axios.delete('/api/task/'+taskId, {headers: {"X-CSRFToken": csrfToken}});
            location.reload();
        }
        catch (e) {console.error(e);}
    };
</script>
{% endblock %}